@page "/auth/activation"
@layout AuthLayout

<article class="auth-page__container auth-page__container_width_lg">
  
  <div class="auth-page__item">
    <h3 class="auth-page__title">Активація облікового запису</h3>
  </div>

  <div class="auth-page__item">
    <p>
      На вказану ел. пошту було надіслано посилання для активації облікового запису. Посилання буде дійсне 2 дні.
    </p>
  </div>

  <div class="auth-page__item">
    <p>
      Якщо лист не прийшов або посилання не дійсне спробуйте надіслати лист повторно.
    </p>
  </div>

  <div class="auth-page__item">
    <AuthForm TModel="EmailModel" Model="_model" OnValidSubmit="SendEmail">
      <DataAnnotationsValidator/>

      <div class="auth-page__item">
        <div class="auth-page__form-control">
          <label for="email" class="auth-page__field-label">Ел. пошта</label>
          <InputText class="field"
                     id="email"
                     Value="@_model.Email"
                     ValueChanged="val => _model.Email = val"
                     ValueExpression="() => _model.Email"
                     placeholder="Ваша ел. пошта..."/>
          <ValidationMessage class="auth-page__field-error" For="() => _model.Email"/>
        </div>
      </div>

      <button type="submit" class="btn btn_form-submit" disabled="@_isLoading">
        @if (_isLoading)
        {
          <p>Зачекайте...</p>
        }
        else
        {
          <p>Надіслати лист повторно</p>
        }
      </button>
    </AuthForm>
  </div>
  
  @if (_error != null)
  {
    <div class="auth-page__item">
      <p class="auth-page__field-error">@_error</p>
    </div>
  }
  
  @if (_isSuccess)
  {
    <div class="auth-page__item">
      <p class="color-success">Лист надіслано</p>
    </div>
  }
  
</article>