@page "/reset-password/{token}"
@layout AuthLayout

<article class="auth-page__container auth-page__container_width_lg">
  
  <div class="auth-page__item">
    <h3 class="auth-page__title">Відновлення пароля</h3>
  </div>

  <div class="auth-page__item">
    <AuthForm TModel="ResetPasswordModel" Model="_model" OnValidSubmit="ResetPasswordAsync">
      <DataAnnotationsValidator/>

      <div class="auth-page__item">
        <div class="auth-page__form-control">
          <label for="newPassword" class="auth-page__field-label">Новий пароль</label>
          <InputText class="field"
                     type="password"
                     id="newPassword"
                     Value="@_model.NewPassword"
                     ValueChanged="val => _model.NewPassword = val"
                     ValueExpression="() => _model.NewPassword"
                     placeholder="Придумайте новий пароль..."/>
          <ValidationMessage class="auth-page__field-error" For="() => _model.NewPassword"/>
        </div>
      </div>
      
      <div class="auth-page__item">
        <div class="auth-page__form-control">
          <label for="passwordConfirm" class="auth-page__field-label">Повтор пароля</label>
          <InputText class="field"
                     id="passwordConfirm"
                     type="password"
                     Value="@_model.ConfirmPassword"
                     ValueChanged="val => _model.ConfirmPassword = val"
                     ValueExpression="() => _model.ConfirmPassword"
                     placeholder="Повторіть пароль..."/>
          <ValidationMessage class="auth-page__field-error" For="() => _model.ConfirmPassword"/>
        </div>
      </div>

      <button type="submit" class="btn btn_form-submit" disabled="@_isLoading">
        @if (_isLoading)
        {
          <span>Зачекайте...</span>
        }
        else
        {
          <sapn>Відновити пароль</sapn>
        }
      </button>
    </AuthForm>
  </div>
  
  @if (_error != null)
  {
    <div class="auth-page__item">
      <p class="auth-page__field-error">@_error</p>
    </div>
  }
  
  @if (_isSuccess)
  {
    <div class="auth-page__item">
      <p class="color-success">Пароль успішно відновлено. <NavLink href="auth/login">Увійти</NavLink></p>
    </div>
  }
  
  <div class="auth-page__item">
    <NavLink href="reset-password/send-email">Надіслати лист повторно</NavLink>
  </div>
  
</article>