@inject IChatState ChatState

<ul class="chat-list">
  @foreach (var chat in ChatState.Chats)
  {
    <li class="chat-list__item">
      <ChatLink Model="@chat"/>
    </li>
  }
</ul>

@code {
  private Dictionary<Guid, ChatModel> _chatMap = new();
  
  protected override async Task OnInitializedAsync()
  {
    ChatState.OnChangeChats += () =>
    {
      InvokeAsync(StateHasChanged);
    };
    
    await base.OnInitializedAsync();
  }
  
}