<EditForm EditContext="_editContext" OnValidSubmit="ChangePassword">
  <DataAnnotationsValidator/>

  <h4 class="form__label">
    Змінити пароль
  </h4>
  
  <div class="form__item">
    <InputText class="field"
               id="oldPassword"
               type="password"
               Value="@_model.OldPassword"
               ValueChanged="val => _model.OldPassword = val"
               ValueExpression="() => _model.OldPassword"
               placeholder="Старий пароль..."/>
    <ValidationMessage class="auth-page__field-error" For="() => _model.OldPassword"/>
  </div>

  <div class="form__item">
    <InputText class="field"
               id="newPassword"
               type="password"
               Value="@_model.NewPassword"
               ValueChanged="val => _model.NewPassword = val"
               ValueExpression="() => _model.NewPassword"
               placeholder="Новий пароль..."/>
    <ValidationMessage class="auth-page__field-error" For="() => _model.NewPassword"/>
  </div>

  <div class="form__item">
    <InputText class="field"
               id="newPasswordConfirm"
               type="password"
               Value="@_model.ConfirmNewPassword"
               ValueChanged="val => _model.ConfirmNewPassword = val"
               ValueExpression="() => _model.ConfirmNewPassword"
               placeholder="Повторіть новий пароль..."/>
    <ValidationMessage class="auth-page__field-error" For="() => _model.ConfirmNewPassword"/>
  </div>

  <div class="form__item">
    <button class="btn btn_opacity" disabled="@_isLoading">
      @if (_isLoading)
      {
        <span>Зачекайте...</span>
      }
      else
      {
        <span>Змінити</span>
      }
    </button>
  </div>

  @if (_isSuccess)
  {
    <div class="form__item">
      <p class="color-success">Пароль змінено</p>
    </div>
  }
</EditForm>