.settings {
  background-color: var(--bg-card);
  border: var(--border);
  border-radius: 10px;

  height: 330px;
  overflow-y: auto;
}

.settings__container {
  padding: 25px;
}

.settings__section {
  margin-bottom: 20px;
}
.settings__section:last-child {
  margin-bottom: 0;
}