<Router AppAssembly="@typeof(Program).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" />
  </Found>
  <NotFound>
    <p>Сторінку не знайдено.</p>
  </NotFound>
</Router>

@code {

  [Inject] private IThemeService ThemeService { get; set; } = null!;

  protected override async Task OnInitializedAsync()
  {
    await ThemeService.Initialize();
    
    await base.OnInitializedAsync();
  }

}
