.main-page {
  position: relative;
  height: 100%;
  display: flex;
}
.main-page__sidebar {
  width: 450px;
}

.avatar{
  display: block;
  border-radius: 50%;
}
.user-full-name {
  font-size: 24px;
  line-height: 16px;
  font-weight: 500;
}

.sidebar {
  background-color: #FFFFFF1A;
  box-shadow: 0 4px 15px 0 #00000033;
}
.sidebar__inner {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.sidebar__item{
  margin-bottom: 20px;
}
.sidebar__item:last-child{
  margin-bottom: 0;
}

.profile-bar{
  display: flex;
  align-items: center;
}
.profile-bar__item{
  margin-right: 20px;
}
.profile-bar__item:last-child{
  margin-right: 0;
}
.profile-bar__info{
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.profile-bar__full-name{
  margin-bottom: 12px;
}
.profile-bar__username{
  font-size: 12px;
  font-weight: 400;
  line-height: 9px;
  color: var(--accent-color);
}

.profile-modal__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.profile-modal__section:last-child {
  margin-bottom: 0;
}
.profile-modal__section.profile-modal__section_content_center {
  align-items: center;
}

.profile-modal__item {
  margin-bottom: 20px;
}
.profile-modal__item:last-child {
  margin-bottom: 0;
}
.profile-modal__item.profile-modal__item_flex_between {
  display: flex;
  justify-content: space-between;
}

.profile-modal__user-field {
  margin-bottom: 10px;
}
