<article class="search-result">
  @if (!_isLoading)
  {
    if (!_notFound)
    {
      <div class="search-result__info">
        Результати пошуку
      </div>
      
      <ul>
        @foreach (var item in _items)
        {
          <li class="search-result__item">
            <SearchItemView Model="item" />
          </li>
        }
      </ul>
    }
    else
    {
      <div class="search-result__info">
        Результати пошуку
      </div>
      
      <div class="search-result__not-result-wrapper">
        <p class="search-result__not-result">Немає результатів</p>
        <p class="search-result__not-result-small">За запитом "@(SearchRequest)", немає результатів.</p>
      </div>
    }
  }
  else
  {
    <div class="search-result__info">
      Завантаження...
    </div>
  }
</article>
