@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --accent-color: #FF7EB3;
  --accent-color-hover: #FF5277;
  --secondary-text-color: #FFFFFFB3;
  --seccess-color: #10db10;
  --danger-color: #cd2020;
  
  --bg-color: #FFFFFF19;
  --bg-field-color: #FFFFFF33;
  
  --def-border-radius: 10px;
  --field-border-radius: 5px;
  
  --box-shadow: 0 4px 15px 0 #00000033;
}

*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}
input, textarea{
  font-family: "Poppins", sans-serif;
}
button{
  border: none;
  cursor: pointer;
  transition: .2s ease;
  line-height: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
h1 {
  font-size: 24px;
  line-height: 16px;
}
p, a {
  font-size: 16px;
  line-height: 12px;
}
input{
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
}
a:hover{
  text-decoration: underline;
}

#app{
  height: 100vh;
}

.color-success{
  color: var(--seccess-color);
}
.color-accent{
  color: var(--accent-color);
}

.small-text{
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 10px;
}

.loading-page{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page__title{
  text-align: center;
}
.field, .text-area {
  --border-color: transparent;
  
  width: 100%;
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #FFFFFF;
  background-color: var(--bg-field-color);
  border-radius: var(--field-border-radius);
  border: 2px solid var(--border-color);

  font-size: 16px;
  font-weight: 400;
}
.text-area {
  line-height: 16px;
}
.field {
  height: 36px;
  line-height: 12px;
}
.field::placeholder, .text-area::placeholder {
  color: var(--secondary-text-color);
}
.field[aria-invalid="true"]{
  --border-color: var(--danger-color);
}