.btn{
  --def-color: var(--accent-color);
  --hover-color: var(--accent-color-hover);
  --radius: 5px;
  
  padding: 12px;
  
  color: #FFFFFF;
  background-color: var(--def-color);
  border-radius: var(--radius);
  
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
}
.btn:not(:disabled):hover{
  background-color: var(--hover-color);
}
.btn:disabled{
  background-color: #FFAFD0;
  cursor: not-allowed;
}
.btn.btn_opacity{
  --def-color: #FFFFFF00;
  --hover-color: #FFFFFF33;
}
.btn.btn_rounded{
  --radius: var(50%);
}
.btn.btn_form-submit{
  width: 100%;
}