.checkbox{
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.checkbox .checkbox__custom{
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;

  margin-right: 5px;

  background-color: #FFFFFF33;
  border-radius: 4px;

  cursor: pointer;
}
.checkbox .checkbox__custom::before{
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 8px;
  height: 8px;

  background-color: #FF7EB3;
  border-radius: 2px;
}
.checkbox .checkbox__real{
  display: none;
}
.checkbox .checkbox__real:not(:checked) + .checkbox__custom::before{
  display: none;
}