.settings {
  background-color: var(--bg-color);
  border-radius: var(--def-border-radius);
  
  height: 0;
  overflow-y: auto;
}
.settings.settings_show {
  height: 330px;
}

.settings__container {
  padding: 25px;
}

.settings__section {
  margin-bottom: 20px;
}
.settings__section:last-child {
  margin-bottom: 0;
}

.settings__item {
  margin-bottom: 10px;
}
.settings__item:last-child {
  margin-bottom: 0;
}